---
import EmailForm from './submitEmail.svelte';
---
<div class="mx-auto max-w-7xl items-center px-5 lg:px-16 pt-16 lg:pt-48 md:px-12 pb-32 lg:pb-72">
    <div>
        <div class="text-center min-h-48">
            <p class="mt-8 mb-8 text-2xl lg:text-5xl">
                <span class=" text-gray-800 sm:text-2xl md:text-4xl lg:text-5xl tracking-tighter font-medium "
                    >Join the waiting list for early access
                </span>
            </p>
            <EmailForm client:load/>
        </div>
    </div>
</div>