---
import { Image } from 'astro:assets';

interface Props {
    title: string;
    description: string;
    image?: string;
}

const {
    title,
    description,
    image = '../../assets/characters/man_avatar_3.png'
} = Astro.props
---
<div class="bg-white p-4 rounded-lg">
    <div class="flex flex-col items-center gap-4 justify-center">
        <Image src={import(image)} alt="" height=100 />
        <h3 class="font-bold text-lg md:text-xl lg:text-2xl">{title}</h2>
        <p class="text-center">{description}</p>
    </div>
</div>