---
import Header from '../components/Navbar.svelte';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Feature1 from '../components/Feature1UniquePersonality.astro';
import Feature2 from '../components/Feature2WritingStyle.astro';

import WaitingListForm from '../components/form/WaitingListForm.astro';

import Layout from "../layouts/LayoutWithNavbar.astro";
---

<Layout title="FindYourChat.ai" description="Unlock the full potential of AI, customize ChatGPT to your unique writing style. Whether it's for emails, content creation, or casual conversations, we generate prompts to adapt ChatGPT's responses to match your tone, style, and personality nuances.">
    <Hero />
    <Feature1 />
    <Feature2 />
    <section class="bg-lightblue-accent" id="register">
        <WaitingListForm />
    </section>
    <Footer />
</Layout>
