---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import QuizHeader from '../components/QuizHeader.astro';
import Quiz from '../components/Quiz.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="FindYourChat.ai" description="Unlock the full potential of AI, customize ChatGPT to your unique writing style. Whether it's for emails, content creation, or casual conversations, we generate prompts to adapt ChatGPT's responses to match your tone, style, and personality nuances.">
    <body class="bg-blue-accent max-w-screen-xl mx-auto">
        <Header />
        <QuizHeader />
        <Quiz />
        <Footer />
    </body>
</Layout>
