---
import QuizProfiles from "../components/quiz/QuizProfiles.svelte";
import Footer from "../components/Footer.astro";


import { app } from "../lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/LayoutWithNavbar.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}

const sessionCookie = Astro.cookies.get("session")?.value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie || "");
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="Profile" description="Access your private Profile">
  <div class="flex min-h-screen flex-col mx-auto">
      <QuizProfiles client:load />
      <!-- <Footer /> -->
  </div>
</Layout>
