---
import Layout from "../layouts/LayoutWithNavbar.astro";
import QuizResults from "../components/quiz/QuizResults.svelte";
---

<Layout
    title="FindYourChat.ai"
    description="Unlock the full potential of AI, customize ChatGPT to your unique writing style. Whether it's for emails, content creation, or casual conversations, we generate prompts to adapt ChatGPT's responses to match your tone, style, and personality nuances."
    background="bg-gradient-to-br from-violet-300 to-violet-400"
    logoBlack={true}
    whiteGradient={true}
>
    <div class="max-w-screen-xl mx-auto">
        <QuizResults client:only />
    </div>
</Layout>
