---
import Footer from '../components/Footer.astro';
import Layout from "../layouts/LayoutWithNavbar.astro";
import QuizResults from '../components/quiz/QuizResults.svelte';
---

<Layout title="FindYourChat.ai" description="Unlock the full potential of AI, customize ChatGPT to your unique writing style. Whether it's for emails, content creation, or casual conversations, we generate prompts to adapt ChatGPT's responses to match your tone, style, and personality nuances.">
    <div class="max-w-screen-xl mx-auto">
        <QuizResults client:load />
        <!-- <Footer /> -->
    </div>
</Layout>
