---
import { Image } from 'astro:assets';

import ManCharacter from '../assets/characters/man_avatar.png'
import WomanCharacter from '../assets/characters/woman_avatar.png'
import WomanCharacter2 from '../assets/characters/woman_avatar_2.png'

import Quote from '../components/containers/Quote.astro'
---
<section class="bg-purple-accent">
    <div
        class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pt-32 pb-8 lg:pb-32 space-y-12"
    >
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 text-white">
            <div class="flex flex-col items-center grid-rows-2 gap-4">
                <p class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl tracking-tighter font-medium lg:float-end">
                    Tailor ChatGPT to your Unique Personality
                </p>
                <p class="font-light text-md sm:text-lg md:text-xl lg:text-2xl">
                    Make ChatGPT write in your own unique style for all types of communications
                </p>
            </div>
            <div>
                <div class="relative w-full mx-auto max-w-7xl items-center">
                    <Quote post="Hey guys, can you give me a project Update?">
                        <Image src={WomanCharacter2} alt="picture of a formal woman in work attire" height="100" width="100" class="rounded-full shadow-md"/>
                    </Quote>
                    <Quote post="Hello Team, I'm reaching out to ask for a quick project update">
                        <Image src={ManCharacter} alt="picture of a casual man in work attire" height="130" width="130" class="rounded-full shadow-md"/>  
                    </Quote>
                    <Quote post="Dear Team, at your earliest convenience, I kindly request a project update.">
                        <Image src={WomanCharacter} alt="picture of a woman man in work attire" height="150" width="150" class="rounded-full shadow-md"/>  
                    </Quote>
                </div>
            </div>
        </div>
    </div>
</section>