---

---

<div
  class="prose
  prose-a:text-gray-600
  prose-headings:mb-2 prose-headings:mt-16
  prose-h1:font-bold prose-h1:text-4xl
  prose-h2:font-bold prose-h2:text-2xl
  prose-h3:font-bold prose-h3:text-xl
  prose-p:text-justify prose-img:rounded-xl
  prose-p:text-black prose-p:font-normal
  prose-img:justify-center prose-img:max-w-[360px] md:prose-img:max-w-[600px]
  prose-ul:text-black prose-li:marker:text-black
  prose-ul:mb-8"
>
  <slot />
</div>
