---
import CardPickerInteractive from '../components/cards/CardPickerInteractive.svelte';
import QuizSvelte from './containers/Quiz.svelte';
---

<section class="bg-blue-accent relative items-center flex justify-center">
    <div
    class="mx-auto max-w-7xl items-center pt-12 lg:px-16 lg:pt-32 md:px-12 px-5 pb-8 lg:pb-32"
>
        <QuizSvelte client:visible />
    </div>
</section>
