---
interface Props {
    post: string;
}

const { post } = Astro.props;

---

<div class="p-3 flex items-center justify-center">
    <div
        class="flex flew-row bg-white-transparent space-x-4 shadow-md px-4 py-3 rounded-lg max-w-sm">
        <div class="items-center max-h-48">
            <slot />

        </div>
        <p class="text-gray-800 text-md italic mt-2 leading-normal md:leading-relaxed whitespace-normal">
            “{post}”
        </p>
        <!-- <div class="text-gray-500 text-xs flex items-center mt-3">
        <img class="mr-0.5" src="https://static-exp1.licdn.com/sc/h/d310t2g24pvdy4pt1jkedo4yb"/>
        <img class="mr-0.5" src="https://static-exp1.licdn.com/sc/h/5thsbmikm6a8uov24ygwd914f"/>
        <img class="mr-0.5" src="https://static-exp1.licdn.com/sc/h/7fx9nkd7mx8avdpqm5hqcbi97"/>
        <span class="ml-1">47 • 26 comments</span>
      </div> -->
    </div>
</div>
