---
import  SpeedInsights  from "@vercel/speed-insights/astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<SpeedInsights />
	</body>
</html>
<style is:global>
	/* Improve Page speed */
	/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
	img {
		content-visibility: auto;
	}
	body {
		background-color: #3A86FF;
	}
</style>
